{% load static %}

<div class="container">
  <!-- Nav Start -->
  <div class="placeholder">
    <div
      class="parallax-window"
      data-parallax="scroll"
      data-image-src="{% static 'img/simple-house-01.jpg' %}"
    >
      <div class="tm-header">
        <div class="row tm-header-inner">
          <div class="col-md-6 col-12">
            <img
              src="{% static 'img/simple-house-logo.png' %}"
              alt="Logo"
              class="tm-site-logo"
            />
            <div class="tm-site-text-box">
              <h1 class="tm-site-title">Simple House</h1>
              <h6 class="tm-site-description">new restaurant Khargone</h6>
            </div>
          </div>
          <nav class="col-md-6 col-12 tm-nav">
            <ul class="tm-nav-ul">
              <li class="tm-nav-li">
                <a href="/" class="tm-nav-link">Home</a>
              </li>
              <li class="tm-nav-li">
                <a href="/about/" class="tm-nav-link">About</a> 
              </li>
              <li class="tm-nav-li">
                <a href="/register/" class="tm-nav-link">Register</a>
              </li>
              <li class="tm-nav-li">
                <a href="/login/" class="tm-nav-link">Login</a>
              </li>
              <li class="tm-nav-li">
                <a href="/contact/" class="tm-nav-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Nav -->
